.imagen-blur {
  -webkit-filter: blur(15px);
          filter: blur(15px);
  position: absolute;
  width: 100vw;
}

.imagen-opacity {
  opacity: 40%;
  width: 100vw;
}

.logo-sombra {
  z-index: 2;
  -webkit-filter: drop-shadow(9px 9px 1px rgba(29, 40, 36, 0.5));
          filter: drop-shadow(9px 9px 1px rgba(29, 40, 36, 0.5));
  width: 286px;
  padding-bottom: 36px;
  -webkit-animation: logo 10s infinite;
          animation: logo 10s infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes logo {
  from {
    -webkit-transform: none;
            transform: none;
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes logo {
  from {
    -webkit-transform: none;
            transform: none;
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.logo-footer {
  width: 155px;
  margin-top: 42px;
  margin-left: 66px;
  position: absolute;
}

.img-lu {
  -webkit-filter: opacity(60%);
          filter: opacity(60%);
  height: 934px;
}

.simbolo-r {
  width: 45px;
  height: 45px;
  margin-top: 3px;
}

.dibujo-lu {
  height: 576px;
  opacity: 25%;
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
  position: absolute;
  left: 0px;
  z-index: -1;
}

.footer-master-fondo {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 370px;
}

.icon-boton-pr {
  padding-left: 12px;
}

.icon-boton-se {
  padding-left: 6px;
}

.icon-d-footer {
  width: 40px;
  margin-right: 12px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

* {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  overflow-x: hidden;
  background-color: #FCFBF7;
}

.presentacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 54px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-prese {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 142px;
}

.info-porque {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 96px;
  margin-bottom: 152px;
}

.porque {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.razones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.razon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ctas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.degradado {
  background-color: #155B2B;
  z-index: -1;
  width: 75px;
  height: 350px;
  border-radius: 250px;
  position: absolute;
  -webkit-filter: blur(70px);
          filter: blur(70px);
  -webkit-animation: latidos 8s infinite;
          animation: latidos 8s infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes latidos {
  from {
    -webkit-transform: none;
            transform: none;
  }
  40% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes latidos {
  from {
    -webkit-transform: none;
            transform: none;
  }
  40% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.izq {
  top: 1350px;
}

.drc {
  right: 50px;
  top: 2500px;
}

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 90px;
  left: 25%;
}

.footer-master {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 270px;
  padding-top: 24px;
}

.secciones-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.seccion-footer {
  margin-right: 54px;
}

.secciones-dos-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.direccion-d-footer {
  margin-left: 50px;
}

.icon-text-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 36px;
}

.redes-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boton-pr-text {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 36px;
  text-align: center;
  color: #FCFBF7;
  text-decoration: none;
  padding: 32px;
}

.boton-pr-text-conicono {
  padding: 32px 32px 32px 12px;
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 36px;
  text-align: center;
  color: #FCFBF7;
  text-decoration: none;
}

.boton-pr {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border: 0;
  border-radius: 21px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83BD79), to(#155B2B));
  background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
}

.boton-pr:hover {
  -webkit-animation: boton 1s 1;
          animation: boton 1s 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes boton {
  from {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes boton {
  from {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.boton-se-text {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 36px;
  text-align: center;
  color: #155B2B;
  text-decoration: none;
  padding: 24px;
}

.boton-se-text-conicono {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 36px;
  text-align: center;
  color: #155B2B;
  text-decoration: none;
  padding: 24px 24px 24px 6px;
}

.boton-se {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border: 0;
  border-radius: 21px;
  background-color: #FCFBF7;
}

.boton-se-border {
  padding: 6px;
  padding-top: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 24px;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83BD79), to(#155B2B));
  background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boton-se-border:hover {
  -webkit-animation: boton 1s 1;
          animation: boton 1s 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@keyframes boton {
  from {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.cuadro {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: 0;
  border-radius: 9px;
  background-color: #F8F6EC;
  padding: 36px;
}

.cuadro-border {
  padding: 6px;
  padding-top: 6px;
  margin-bottom: 42px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 12px;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83BD79), to(#155B2B));
  background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titulo-master {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 72px;
  font-weight: 400;
  color: #FCFBF7;
  width: 872px;
  text-align: center;
  z-index: 2;
  -webkit-filter: drop-shadow(6px 6px 1px rgba(29, 40, 36, 0.5));
          filter: drop-shadow(6px 6px 1px rgba(29, 40, 36, 0.5));
  padding-bottom: 24px;
  margin-top: 0;
}

.titulo-why {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #1D2824;
  margin: 0 36px 36px 36px;
  text-align: center;
}

.titulo-boton {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #1D2824;
  text-align: center;
  margin-top: 66px;
}

.titel-footer {
  font-family: "El Messiri", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #FCFBF7;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 12px;
}

.text-presentacion {
  font-family: "El Messiri", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #1D2824;
  height: 210px;
  width: 417px;
  text-align: center;
  margin: 0;
}

.text-why {
  font-family: "El Messiri", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-top: 0;
  margin-left: 32px;
  color: #1D2824;
  max-width: 1000px;
}

.textenlace-footer {
  font-family: "El Messiri", sans-serif;
  font-size: 18px;
  color: #FCFBF7;
  font-weight: 400;
  max-width: 370px;
}

.text-footer {
  font-family: "El Messiri", sans-serif;
  font-size: 18px;
  color: #FCFBF7;
  font-weight: 700;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 6px;
  margin-bottom: 6px;
}

.link-pr {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 36px;
  color: #FCFBF7;
  z-index: 0;
  padding: 24px;
}

.link-pr:hover {
  color: #F9E18E;
}

.link-footer {
  font-family: "El Messiri", sans-serif;
  font-size: 24px;
  color: #FCFBF7;
  font-weight: 700;
}

.link-footer:hover {
  color: #E9B500;
}

.link-footer-little {
  font-family: "El Messiri", sans-serif;
  font-size: 18px;
  color: #FCFBF7;
  font-weight: 700;
  text-decoration: none;
}

.link-footer-little:hover {
  color: #E9B500;
}