.imagen-blur {
  -webkit-filter: blur(15px);
          filter: blur(15px);
  position: absolute;
  width: 100vw;
}

.imagen-opacity {
  opacity: 40%;
  width: 100vw;
}

.imagen-little-blur {
  position: absolute;
  width: 100vw;
  opacity: 35%;
  -webkit-animation: borroso-header 8s infinite;
          animation: borroso-header 8s infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes borroso-header {
  from {
    -webkit-filter: blur(2.5px);
            filter: blur(2.5px);
  }
  45% {
    -webkit-filter: blur(6px);
            filter: blur(6px);
  }
  55% {
    -webkit-filter: blur(6px);
            filter: blur(6px);
  }
  to {
    -webkit-filter: blur(2.5px);
            filter: blur(2.5px);
  }
}

@keyframes borroso-header {
  from {
    -webkit-filter: blur(2.5px);
            filter: blur(2.5px);
  }
  45% {
    -webkit-filter: blur(6px);
            filter: blur(6px);
  }
  55% {
    -webkit-filter: blur(6px);
            filter: blur(6px);
  }
  to {
    -webkit-filter: blur(2.5px);
            filter: blur(2.5px);
  }
}
.imagen-little-opacity {
  -webkit-filter: blur(0.9px);
          filter: blur(0.9px);
  opacity: 50%;
  width: 100vw;
}

.logo-sombra {
  z-index: 2;
  -webkit-filter: drop-shadow(9px 9px 1px rgba(29, 40, 36, 0.5));
          filter: drop-shadow(9px 9px 1px rgba(29, 40, 36, 0.5));
  width: 216px;
  padding-bottom: 36px;
  -webkit-animation: escala2 4s 1;
          animation: escala2 4s 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes escala2 {
  from {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes escala2 {
  from {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.logo-sombra-mundo {
  z-index: 2;
  -webkit-filter: drop-shadow(9px 9px 1px rgba(29, 40, 36, 0.5));
          filter: drop-shadow(9px 9px 1px rgba(29, 40, 36, 0.5));
  width: 146px;
  padding-bottom: 36px;
  -webkit-animation: escala2 4s 1;
          animation: escala2 4s 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@keyframes escala2 {
  from {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.logo-footer {
  width: 155px;
  margin-top: 42px;
  margin-left: 66px;
  position: absolute;
}

.logo-pp {
  width: 100px;
  -webkit-animation: escala3 4s 1;
          animation: escala3 4s 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes escala3 {
  from {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes escala3 {
  from {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.logo-footer-pp {
  width: 48px;
  margin-top: 24px;
  margin-left: 54px;
  margin-right: 54px;
  z-index: 2;
}

.logo-registro {
  width: 60px;
  margin-top: 18px;
  margin-left: 36px;
  margin-right: 42px;
  margin-bottom: 30px;
  z-index: 2;
}

.logo-registro-user {
  width: 50px;
  margin-top: 18px;
  z-index: 2;
}

.logo-registro-user:hover {
  -webkit-animation: rotate-icon 1s 3;
          animation: rotate-icon 1s 3;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes rotate-icon {
  from {
    -webkit-transform: none;
            transform: none;
  }
  45% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  55% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes rotate-icon {
  from {
    -webkit-transform: none;
            transform: none;
  }
  45% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  55% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.img-lu {
  -webkit-filter: opacity(60%);
          filter: opacity(60%);
  height: 724px;
  -webkit-animation: rotate-img 0.25s 4 5s;
          animation: rotate-img 0.25s 4 5s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes rotate-img {
  from {
    -webkit-transform: none;
            transform: none;
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes rotate-img {
  from {
    -webkit-transform: none;
            transform: none;
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.simbolo-r {
  width: 45px;
  height: 45px;
  margin-top: 3px;
}

.dibujo-lu {
  height: 516px;
  opacity: 25%;
  position: absolute;
  left: 0px;
  z-index: -1;
  -webkit-animation: borroso 6s infinite;
          animation: borroso 6s infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes borroso {
  from {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  30% {
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
  70% {
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
  to {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
}

@keyframes borroso {
  from {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  30% {
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
  70% {
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
  to {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
}
.footer-master-fondo {
  position: absolute;
  z-index: -1;
  width: 105vw;
  height: 330px;
}

.imagen-product {
  width: 564px;
  height: 450.82px;
  background-color: #FCFBF7;
  border-radius: 9px;
}

.imagen-product-border {
  padding: 6px;
  margin-bottom: 42px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 12px;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83BD79), to(#155B2B));
  background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imagen-header {
  width: 100vw;
  height: 120px;
  position: absolute;
  z-index: -1;
}

.icon-boton-pr {
  padding-left: 12px;
  width: 75px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.icon-boton-se {
  padding-left: 12px;
  width: 75px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.icon-d-footer {
  width: 40px;
  margin-right: 12px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.icon-titel {
  width: 95px;
  height: 95px;
  margin: 24px;
}

.icon-titel:hover {
  -webkit-animation: rotate-icon 1s infinite;
          animation: rotate-icon 1s infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@keyframes rotate-icon {
  from {
    -webkit-transform: none;
            transform: none;
  }
  30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  70% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.icon-background {
  background: -webkit-gradient(linear, left top, left bottom, from(#83BD79), to(#155B2B));
  background: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
}

.icon-input {
  width: 30px;
  height: 30px;
}

.icon-input-filldata {
  width: 30px;
  height: 30px;
}

* {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: #FCFBF7;
  overflow-x: hidden;
}

.degradado {
  background-color: #155B2B;
  z-index: -1;
  width: 75px;
  height: 350px;
  border-radius: 250px;
  position: absolute;
  -webkit-filter: blur(70px);
          filter: blur(70px);
  -webkit-animation: latidos 8s infinite;
          animation: latidos 8s infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes latidos {
  from {
    -webkit-transform: none;
            transform: none;
  }
  40% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes latidos {
  from {
    -webkit-transform: none;
            transform: none;
  }
  40% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes latidos-mini {
  from {
    -webkit-transform: none;
            transform: none;
  }
  40% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes latidos-mini {
  from {
    -webkit-transform: none;
            transform: none;
  }
  40% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.izq {
  top: 1000px;
  left: 5px;
}

.izq-little {
  top: 350px;
  left: 5px;
  -webkit-animation: latidos-mini 8s infinite;
          animation: latidos-mini 8s infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.izq-maxlittle {
  top: 200px;
  left: 5px;
  -webkit-animation: latidos-mini 8s infinite;
          animation: latidos-mini 8s infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.drc {
  right: 5px;
  top: 2000px;
}

.drc-medium {
  right: 5px;
  top: 1800px;
}

.drc-little {
  right: 5px;
  top: 1490px;
}

.drc-extralittle {
  right: 1px;
  top: 430px;
}

.drc-maxilittle {
  right: 5px;
  top: 200px;
  -webkit-animation: latidos-mini 8s infinite;
          animation: latidos-mini 8s infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.presentacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 54px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-prese {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 72px;
}

.info-porque {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 96px;
  margin-bottom: 90px;
}

.porque {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6px;
}

.why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.razones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.razon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ctas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imagenes-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.info-pproducto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.video-product-border {
  padding: 12px;
  margin-bottom: 42px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 12px;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83BD79), to(#155B2B));
  background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 42px;
}

.video-product {
  border-radius: 9px;
}

.video-product:focus {
  outline: none;
}

.cuerpo-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inputs-register-tre {
  margin-top: 24px;
  margin: 54px;
}

.enlaces-botones-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cuerpo-filldata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo-filldata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo-filldata-tarjet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 38px;
}

.inputs-little {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkbox-nd-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
}

.checkbox-nd-boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
}

.info-welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ctas-welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1000px;
  margin-bottom: 36px;
  margin-top: 36px;
}

.cuerpo-ml {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cuerpo-commun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recambios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 84px;
}

.header-comm-ml {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-ml {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
  margin-right: 96px;
}

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 36px;
  left: 22.5%;
}

.info-header-pp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50px;
  left: 12.5%;
}

.footer-master {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 270px;
  padding-top: 24px;
}

.secciones-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin-left: 72px;
}

.seccion-footer {
  margin-right: 54px;
}

.secciones-dos-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.direccion-d-footer {
  margin-left: 50px;
}

.icon-text-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 36px;
}

.redes-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-pproduct {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83BD79), to(#155B2B));
  background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
  margin-top: 90px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.footer-pproduct-dos {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83BD79), to(#155B2B));
  background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.footer-pproduct-enlaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

.secciones-footer-pproduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
}

.icon-text-footer-tiny {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
  margin: 12px;
}

.icon-text-footer-tiny:hover {
  -webkit-animation: rrss 1.5s 1;
          animation: rrss 1.5s 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes rrss {
  from {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes rrss {
  from {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.direccion-footer {
  margin-left: 60px;
  margin-right: 54px;
}

.welcome {
  margin-top: 21px;
}

[aria=dialog] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-32.99%, rgba(131, 189, 121, 0.5625)), color-stop(55.52%, rgba(21, 91, 43, 0.5625)));
  background: linear-gradient(180deg, rgba(131, 189, 121, 0.5625) -32.99%, rgba(21, 91, 43, 0.5625) 55.52%);
  z-index: 100;
}

.modal {
  overflow: none;
  position: absolute;
  top: 15%;
  left: 15%;
}

.modal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dos-botones-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

[aria=dialog-2] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.b-infor {
  display: none;
}

.infor-full {
  overflow: none;
  display: none;
  position: absolute;
  top: 75%;
  left: 50%;
}

.infor-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons-infor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
}

.infor-full-cvc {
  overflow: none;
  position: absolute;
  top: 1705px;
  left: 50%;
  max-width: 500px;
}

.b-infor-cvc {
  position: relative;
  top: 25%;
  display: none;
}

.infor-info-cvc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons-infor-cvc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.infor-full-filldata {
  overflow: none;
  position: absolute;
  top: 1845px;
  left: 50%;
  max-width: 500px;
}

.b-filldata {
  position: relative;
  top: 25%;
  display: none;
}

.infor-info-filldata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons-infor-filldata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.filldata-full {
  overflow: none;
  position: fixed;
}

.filldata {
  overflow: none;
  position: absolute;
  top: 5%;
  left: 17%;
}

.filldata-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-filldata {
  position: relative;
  top: 25%;
}

.icons-filldata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.input-princ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.cuadro-input-princ-border {
  padding: 3px;
  padding-top: 3px;
  margin-bottom: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 9px;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83BD79), to(#155B2B));
  background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
}

.cuadro-input {
  background-color: #FCFBF7;
  border: none;
  border-radius: 6px;
  width: 500px;
  height: 40px;
  -webkit-box-shadow: inset 2.5px 1px 6px rgba(25, 35, 31, 0.5);
          box-shadow: inset 2.5px 1px 6px rgba(25, 35, 31, 0.5);
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cuadro-input-princ {
  font-family: "El Messiri", sans-serif;
  font-size: 18px;
  background-color: #FCFBF7;
  border: none;
  width: 500px;
  height: 40px;
  border-radius: 6px;
  height: 40px;
  -webkit-box-shadow: inset 2.5px 1px 6px rgba(25, 35, 31, 0.5);
          box-shadow: inset 2.5px 1px 6px rgba(25, 35, 31, 0.5);
  outline: none;
  padding: 12px;
}

.cuadro-input-princ::-webkit-input-placeholder {
  color: #A7AFAC;
}

.cuadro-input-princ::-moz-placeholder {
  color: #A7AFAC;
}

.cuadro-input-princ:-ms-input-placeholder {
  color: #A7AFAC;
}

.cuadro-input-princ::-ms-input-placeholder {
  color: #A7AFAC;
}

.cuadro-input-princ::placeholder {
  color: #A7AFAC;
}

.cuadro-input-princ:focus::-webkit-input-placeholder {
  color: transparent;
}

.cuadro-input-princ:focus::-moz-placeholder {
  color: transparent;
}

.cuadro-input-princ:focus:-ms-input-placeholder {
  color: transparent;
}

.cuadro-input-princ:focus::-ms-input-placeholder {
  color: transparent;
}

.cuadro-input-princ:focus::placeholder {
  color: transparent;
}

.cuadro-input-princ:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #1D2824;
}

.cuadro-input-princ:invalid {
  color: #B22B01;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cuadro-input-icon {
  border: none;
  width: 450px;
  height: 40px;
  border-radius: 6px;
  height: 40px;
  -webkit-box-shadow: inset 2.5px 1px 6px rgba(25, 35, 31, 0.5);
          box-shadow: inset 2.5px 1px 6px rgba(25, 35, 31, 0.5);
  outline: none;
  padding: 12px;
}

.cuadro-input-princbig {
  font-family: "El Messiri", sans-serif;
  font-size: 18px;
  background-color: #FCFBF7;
  border: none;
  border-radius: 6px;
  width: 650px;
  height: 40px;
  -webkit-box-shadow: inset 2.5px 1px 6px rgba(25, 35, 31, 0.5);
          box-shadow: inset 2.5px 1px 6px rgba(25, 35, 31, 0.5);
  outline: none;
  padding: 12px;
}

.cuadro-input-princbig:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #1D2824;
}

.cuadro-input-princbig::-webkit-input-placeholder {
  color: #A7AFAC;
}

.cuadro-input-princbig::-moz-placeholder {
  color: #A7AFAC;
}

.cuadro-input-princbig:-ms-input-placeholder {
  color: #A7AFAC;
}

.cuadro-input-princbig::-ms-input-placeholder {
  color: #A7AFAC;
}

.cuadro-input-princbig::placeholder {
  color: #A7AFAC;
}

.cuadro-input-princbig:focus::-webkit-input-placeholder {
  color: transparent;
}

.cuadro-input-princbig:focus::-moz-placeholder {
  color: transparent;
}

.cuadro-input-princbig:focus:-ms-input-placeholder {
  color: transparent;
}

.cuadro-input-princbig:focus::-ms-input-placeholder {
  color: transparent;
}

.cuadro-input-princbig:focus::placeholder {
  color: transparent;
}

.cuadro-input-little {
  font-family: "El Messiri", sans-serif;
  font-size: 18px;
  background-color: #FCFBF7;
  border: none;
  border-radius: 6px;
  width: 300px;
  height: 40px;
  -webkit-box-shadow: inset 2.5px 1px 6px rgba(25, 35, 31, 0.5);
          box-shadow: inset 2.5px 1px 6px rgba(25, 35, 31, 0.5);
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cuadro-input-princlittle {
  font-family: "El Messiri", sans-serif;
  font-size: 18px;
  background-color: #FCFBF7;
  border: none;
  border-radius: 6px;
  width: 265px;
  height: 40px;
  -webkit-box-shadow: inset 2.5px 1px 6px rgba(25, 35, 31, 0.5);
          box-shadow: inset 2.5px 1px 6px rgba(25, 35, 31, 0.5);
  outline: none;
  padding: 12px;
}

.cuadro-input-princlittle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #1D2824;
}

.cuadro-input-princlittle::-webkit-input-placeholder {
  color: #A7AFAC;
}

.cuadro-input-princlittle::-moz-placeholder {
  color: #A7AFAC;
}

.cuadro-input-princlittle:-ms-input-placeholder {
  color: #A7AFAC;
}

.cuadro-input-princlittle::-ms-input-placeholder {
  color: #A7AFAC;
}

.cuadro-input-princlittle::placeholder {
  color: #A7AFAC;
}

.cuadro-input-princlittle:focus::-webkit-input-placeholder {
  color: transparent;
}

.cuadro-input-princlittle:focus::-moz-placeholder {
  color: transparent;
}

.cuadro-input-princlittle:focus:-ms-input-placeholder {
  color: transparent;
}

.cuadro-input-princlittle:focus::-ms-input-placeholder {
  color: transparent;
}

.cuadro-input-princlittle:focus::placeholder {
  color: transparent;
}

.checkbox-box {
  padding: 4px;
  padding-top: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 6px;
  z-index: 0;
  background-color: #155B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox-guardar-input {
  display: none;
}

.checkbox-guardar-label {
  width: 45px;
  height: 45px;
  border-radius: 3px;
  margin: 0;
  background-color: #F8F6EC;
  border: #F8F6EC solid 4px;
}

.checkbox-guardar-input:checked + .checkbox-guardar-label {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F9E18E), to(#E9B500));
  background-image: linear-gradient(180deg, #F9E18E 0%, #E9B500 100%);
}

.checkbox-infor {
  display: none;
}

.boton-pr-text {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #FCFBF7;
  text-decoration: none;
  padding: 32px;
}

.boton-pr-text-conicono {
  padding: 32px 32px 32px 12px;
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #FCFBF7;
  text-decoration: none;
}

.boton-pr {
  -webkit-box-shadow: 4px 4px 4px rgba(29, 40, 36, 0.25);
          box-shadow: 4px 4px 4px rgba(29, 40, 36, 0.25);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border: 0;
  border-radius: 21px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83BD79), to(#155B2B));
  background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
}

.boton-pr:hover {
  -webkit-animation: boton 1s 1;
          animation: boton 1s 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes boton {
  from {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes boton {
  from {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.boton-pr-modal {
  display: none;
}

.boton-se-text {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #155B2B;
  text-decoration: none;
  padding: 24px;
}

.boton-se-text-conicono {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #155B2B;
  text-decoration: none;
  padding: 24px 24px 24px 6px;
}

.boton-se {
  -webkit-box-shadow: 10px 10px 10px rgba(29, 40, 36, 0.25);
          box-shadow: 10px 10px 10px rgba(29, 40, 36, 0.25);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border: 0;
  border-radius: 21px;
  background-color: #FCFBF7;
}

.boton-se-border {
  padding: 6px;
  padding-top: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 24px;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83BD79), to(#155B2B));
  background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boton-se-border:hover {
  -webkit-animation: boton 1s 1;
          animation: boton 1s 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@keyframes boton {
  from {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.boton-da-text {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #FCFBF7;
  text-decoration: none;
  padding: 32px;
}

.boton-da-text-conicono {
  padding: 32px 32px 32px 12px;
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #FCFBF7;
  text-decoration: none;
}

.boton-da {
  -webkit-box-shadow: 4px 4px 4px rgba(29, 40, 36, 0.25);
          box-shadow: 4px 4px 4px rgba(29, 40, 36, 0.25);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border: 0;
  border-radius: 21px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-10%, #E9B500), color-stop(33%, #E93901));
  background-image: linear-gradient(180deg, #E9B500 -10%, #E93901 33%);
}

.boton-da:hover {
  -webkit-animation: boton 1s 1;
          animation: boton 1s 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@keyframes boton {
  from {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.boton-da-modal {
  display: none;
}

.cuadro-border {
  padding: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 12px;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83BD79), to(#155B2B));
  background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 18px;
  margin-top: 12px;
}

.cuadro-border-direccion {
  padding: 6px;
  margin-bottom: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 12px;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83BD79), to(#155B2B));
  background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
}

.cuadro-border-tarjet {
  visibility: hidden;
  padding: 6px;
  margin-bottom: 30px;
  margin-top: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 12px;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83BD79), to(#155B2B));
  background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
}

.cuadro-border-ml {
  padding: 6px;
  margin-bottom: 60px;
  margin-top: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 12px;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83BD79), to(#155B2B));
  background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
}

.chat {
  margin-bottom: 60px;
}

.comm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cuadro {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: 0;
  border-radius: 9px;
  background-color: #F8F6EC;
  padding: 24px;
}

.cuadro-filldata {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: 0;
  border-radius: 9px;
  background-color: #F8F6EC;
  padding: 36px;
}

.ml-master {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ml-community {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  padding: 24px;
}

.inputs-register {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  border: 0;
  border-radius: 9px;
  background-color: #F8F6EC;
  padding: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputs-filldata-card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  border: 0;
  border-radius: 9px;
  background-color: #F8F6EC;
  padding: 54px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cuadro-info {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  border: 0;
  border-radius: 9px;
  background-color: #F9E18E;
  padding: 18px;
}

.titulo-master {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 66px;
  font-weight: 400;
  color: #FCFBF7;
  width: 872px;
  text-align: center;
  z-index: 2;
  -webkit-filter: drop-shadow(6px 6px 1px rgba(29, 40, 36, 0.5));
          filter: drop-shadow(6px 6px 1px rgba(29, 40, 36, 0.5));
  padding-bottom: 6px;
  margin-top: 0;
}

.titulo-master-mundo {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 66px;
  font-weight: 400;
  color: #FCFBF7;
  width: 872px;
  text-align: center;
  z-index: 2;
  -webkit-filter: drop-shadow(6px 6px 1px rgba(29, 40, 36, 0.5));
          filter: drop-shadow(6px 6px 1px rgba(29, 40, 36, 0.5));
  padding-bottom: 9px;
  margin-top: 0;
}

.titulo-sec-master {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 42px;
  font-weight: 400;
  color: #FCFBF7;
  width: 872px;
  text-align: center;
  padding-bottom: 18px;
}

.titulo-why {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 42px;
  font-weight: 400;
  color: #1D2824;
  margin: 0 36px 36px 36px;
  text-align: center;
}

.titulo-boton {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 42px;
  font-weight: 400;
  color: #1D2824;
  text-align: center;
  margin-top: 36px;
}

.titel-footer {
  font-family: "El Messiri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #FCFBF7;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.titel-shop {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 54px;
  font-weight: 400;
  color: #155B2B;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 30px;
  max-width: 990px;
}

.titulo-inputs-register {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 42px;
  font-weight: 400;
  color: #1D2824;
  text-align: center;
  margin-bottom: 12px;
}

.titulotext-filldata {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 42px;
  font-weight: 400;
  color: #1D2824;
  text-align: center;
  margin: 12px;
}

.titulo-welcome {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 66px;
  font-weight: 400;
  color: #1D2824;
  text-align: center;
  margin-top: 54px;
  margin-bottom: 42px;
  -webkit-animation: titulo 1s 2 1.5s;
          animation: titulo 1s 2 1.5s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes titulo {
  from {
    color: #1D2824;
  }
  10% {
    color: #155B2B;
  }
  30% {
    color: #E9B500;
  }
  50% {
    color: #F9E18E;
  }
  70% {
    color: #E9B500;
  }
  90% {
    color: #155B2B;
  }
  to {
    color: #1D2824;
  }
}

@keyframes titulo {
  from {
    color: #1D2824;
  }
  10% {
    color: #155B2B;
  }
  30% {
    color: #E9B500;
  }
  50% {
    color: #F9E18E;
  }
  70% {
    color: #E9B500;
  }
  90% {
    color: #155B2B;
  }
  to {
    color: #1D2824;
  }
}
.titulo-modal {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 54px;
  font-weight: 400;
  color: #1D2824;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.titulo-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo-full-community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.titulo-ml {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 66px;
  font-weight: 400;
  color: #1D2824;
  text-align: center;
  z-index: 2;
}

.recambios-titulo {
  margin-top: 12px;
}

.titulo-numero-ml {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 66px;
  font-weight: 400;
  margin-right: 24px;
  margin-top: 0;
  margin-bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#83BD79), to(#155B2B));
  background: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titulo-header-ml {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  color: #FCFBF7;
}

.text-presentacion {
  font-family: "El Messiri", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #1D2824;
  width: 417px;
  text-align: center;
  margin: 12px;
  overflow: hidden;
}

.text-why {
  font-family: "El Messiri", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
  margin-left: 32px;
  color: #1D2824;
  max-width: 1000px;
}

.textenlace-footer {
  font-family: "El Messiri", sans-serif;
  font-size: 16px;
  color: #FCFBF7;
  font-weight: 400;
  max-width: 370px;
}

.text-footer {
  font-family: "El Messiri", sans-serif;
  font-size: 16px;
  color: #FCFBF7;
  font-weight: 700;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 6px;
  margin-bottom: 6px;
}

.text-header-pproduct-bold {
  font-family: "El Messiri", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #1D2824;
  text-align: center;
  margin: 0;
  max-width: 950px;
}

.text-header-pproduct {
  font-family: "El Messiri", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #1D2824;
  text-align: center;
  margin-top: 24px;
  max-width: 700px;
}

.text-product {
  font-family: "El Messiri", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #1D2824;
  text-align: center;
  max-width: 875px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.text-register {
  font-family: "El Messiri", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #1D2824;
  text-align: center;
  margin: 0;
}

.text-welcome {
  font-family: "El Messiri", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #1D2824;
  text-align: center;
  width: 990px;
  margin: 30px;
  margin-bottom: 24px;
}

.text-input-princ {
  font-family: "El Messiri", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #1D2824;
  margin-bottom: 18px;
  margin-top: 12px;
}

.text-checkbox {
  font-family: "El Messiri", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #1D2824;
  text-align: center;
  margin: 36px;
}

.text-modal {
  font-family: "El Messiri", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #1D2824;
  text-align: center;
  max-width: 850px;
  padding: 12px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.text-modalbig {
  font-family: "El Messiri", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #1D2824;
  text-align: center;
  max-width: 800px;
  padding: 12px;
}

.text-infor {
  font-family: "El Messiri", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #1D2824;
  text-align: center;
  max-width: 450px;
  padding: 12px;
  margin: 0;
}

.text-infor-cvc {
  font-family: "El Messiri", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #1D2824;
  text-align: center;
  max-width: 450px;
  padding: 12px;
  margin: 0;
}

.text-ml {
  font-family: "El Messiri", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #1D2824;
  text-align: center;
  max-width: 500px;
  padding: 12px;
}

.link-pr {
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 30px;
  color: #FCFBF7;
  z-index: 0;
  padding: 24px;
}

.link-pr:hover {
  color: #F9E18E;
}

.link-footer {
  font-family: "El Messiri", sans-serif;
  font-size: 18px;
  color: #FCFBF7;
  font-weight: 700;
}

.link-footer:hover {
  color: #E9B500;
}

.link-footer-little {
  font-family: "El Messiri", sans-serif;
  font-size: 16px;
  color: #FCFBF7;
  font-weight: 700;
  text-decoration: none;
  max-width: 180px;
}

.link-footer-little:hover {
  color: #E9B500;
}

.link-footer-tiny {
  font-family: "El Messiri", sans-serif;
  font-size: 18px;
  color: #FCFBF7;
  font-weight: 700;
  margin: 12px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.link-footer-tiny:hover {
  color: #E9B500;
}

.link-register-tiny {
  font-family: "El Messiri", sans-serif;
  font-size: 24px;
  color: #155B2B;
  font-weight: 700;
  margin-top: 42px;
  margin-bottom: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.link-register-tiny:hover {
  color: #B22B01;
}

.link-ml {
  margin-bottom: 90px;
  color: #B22B01;
}

.link-ml:hover {
  color: #E93901;
}

.link-ml-comm {
  margin-top: 12px;
  color: #E9B500;
}

.link-ml-comm:hover {
  color: #F9E18E;
}