//IMG HEADER//

    .imagen-blur{
        filter: blur(15px);
        position: absolute;
        width: 100vw;
    }
    .imagen-opacity{
        opacity: 40%;
        width: 100vw;
    }


//LOGO MASTER//

    .logo-sombra{
        z-index: 2;
        filter: drop-shadow(9px 9px 1px rgba(29, 40, 36, 0.5));
        width: 286px;
        padding-bottom: 12px;
    }

    .logo-footer{
        width: 155px;
        padding-top: 42px;
    }

//IMAGEN MASTER//

    .img-lu{
        filter: opacity(60%);
        height: 934px;
    }

    .simbolo-r{
        width: 45px;
        height: 45px;
        margin-top: 3px;
    }

    .dibujo-lu{
        height: 576px;
        opacity: 25%;
        filter: blur(1.5px);
        position: absolute;
        left: 0;
        z-index: -1;
    }