.link-pr{
    font-family: $title;
    font-size: $h4;
    color: $white;
    z-index: 0;
    padding: 24px;
}
.link-pr:hover{
    color: $yellow-light
}

.link-footer{
    font-family: $text;
    font-size: $p-little;
    color: $white;
    font-weight: $bold;
}
.link-footer:hover{
    color: $yellow-dark
}

.link-footer-little{
    font-family: $text;
    font-size: $p-extralittle;
    color: $white;
    font-weight: $bold;
    text-decoration: none;
    max-width: 180px;
}
.link-footer-little:hover{
    color: $yellow-dark
}

.link-footer-tiny{
    font-family: $text;
    font-size: $p-little;
    color: $white;
    font-weight: $bold;
    margin: 12px;
    align-self: center;
}
.link-footer-tiny:hover{
    color: $yellow-dark
}

.link-register-tiny{
    font-family: $text;
    font-size: $p-medium;
    color: $green-dark;
    font-weight: $bold;
    margin-top: 42px;
    margin-bottom: 24px;
    align-self: center;
}
.link-register-tiny:hover{
    color: $red-medium;
}
    .link-ml{
        margin-bottom: 90px;
        color: $red-medium
    }
    .link-ml:hover {
        color: $red-light;
    }

    .link-ml-comm{
        margin-top: 12px;
        color: $yellow-dark;
    }
    .link-ml-comm:hover {
        color: $yellow-light;
    }