
//TEXT HEADER//

    .text-presentacion{
        font-family: $text;
        font-size: $p-big;
        font-weight: $bold;
        color: $black;
        width: 417px;
        text-align: center;
        margin: 12px;
        overflow: hidden;
    }

    .text-why{
        font-family: $text;
        font-size: $p-medium;
        font-weight: $regular;
        margin-top: 0;
        margin-left: 12px;
        color: $black;
        max-width: 1000px;
    }

    .textenlace-footer{
        font-family: $text;
        font-size: $p-extralittle;
        color: $white;
        font-weight: $regular;
        max-width: 370px;
    }

    .text-footer{
        font-family: $text;
        font-size: $p-extralittle;
        color: $white;
        font-weight: $bold;
        height: fit-content;
        margin-top: 6px;
        margin-bottom: 6px;
    }

//TEXT PRODUCT PAGE//

    .text-header-pproduct-bold{
        font-family: $text;
        font-size: $p-big;
        font-weight: $bold;
        color: $black;
        text-align: center;
        margin: 0;
        max-width: 950px;
    }
    .text-header-pproduct{
        font-family: $text;
        font-size: $p-big;
        font-weight: $regular;
        color: $black;
        text-align: center;
        margin-top: 24px;
        max-width: 700px;
    }

    .text-product{
        font-family: $text;
        font-size: $p-medium;
        font-weight: $regular;
        color: $black;
        text-align: center;
        max-width: 875px;
        align-self: center;
    }

//TEXT REGISTER//

    .text-register{
        font-family: $text;
        font-size: $p-big;
        font-weight: $bold;
        color: $black;
        text-align: center;
        margin: 0;
    }

//TEXT WELCOME//

    .text-welcome{
        font-family: $text;
        font-size: $p-big;
        font-weight: $regular;
        color: $black;
        text-align: center;
        width: 990px;
        margin: 30px;
        margin-bottom: 24px;
    }
    
//TEXT INPUTS//

    .text-input-princ{
        font-family: $text;
        font-size: $p-little;
        font-weight: $bold;
        color: $black;
        margin-bottom: 18px;
        margin-top: 12px;
    }

    .text-checkbox{
        font-family: $text;
        font-size: $p-big;
        font-weight: $regular;
        color: $black;
        text-align: center;
        margin: 36px;
    }

//TEXT MODAL//

    .text-modal{
        font-family: $text;
        font-size: $p-big;
        font-weight: $regular;
        color: $black;
        text-align: center;
        max-width: 850px;
        padding: 12px;
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .text-modalbig{
        font-family: $text;
        font-size: $p-big;
        font-weight: $regular;
        color: $black;
        text-align: center;
        max-width: 800px;
        padding: 12px;
    }

    .text-infor{
        font-family: $text;
        font-size: $p-medium;
        font-weight: $regular;
        color: $black;
        text-align: center;
        max-width: 450px;
        padding: 12px;
        margin: 0;
    }
        .text-infor-cvc{
            font-family: $text;
            font-size: $p-big;
            font-weight: $bold;
            color: $black;
            text-align: center;
            max-width: 450px;
            padding: 12px;
            margin: 0;
        }

//TEXT MUNDOLU//
.text-ml {
    font-family: $text;
    font-size: $p-big;
    font-weight: $regular;
    color: $black;
    text-align: center;
    max-width: 500px;
    padding: 12px;
}

.text-card-blog {
    font-family: $text;
    font-size: $p-little;
    font-weight: $regular;
    color: $white;
    margin: 0;
}

.text-card-blog-min{
    font-family: $text;
    font-size: $p-little;
    font-weight: $regular;
    color: #FCFBF780;
    margin: 0;
    margin-left: 12px;
}

.text-entrada-blog{
    font-family: $text;
    font-size: $p-big;
    font-weight: $regular;
    color: $black;
}
    .actu{
        color: #1D282480;
        margin-left: 42px;
    }

.parrafo-entrada-blog{
    font-family: $text;
    font-size: $p-medium;
    font-weight: $regular;
    color: $black;
    max-width: 850px;
    margin: 0;
    margin-bottom: 54px;
    margin-top: 30px;
}

//LEGAL PAGE//
.little{
    text-align: center;
    max-width: 725px;
    margin-bottom: 48px;
}

.parrafo-entrada-legal {
    font-family: $text;
    font-size: $p-medium;
    font-weight: $regular;
    color: $black;
    margin: 0;
    margin-bottom: 54px;
    margin-top: 30px;
}

//USER//
.user {
    color: #1D282480;
    margin-left: 24px;
}

.t-user{
    margin: 12px;
}

//PROXIMAMENTE//
.proximamente{
    margin-bottom: 120px;
}
.proximamente-dos {
    margin-bottom: 60px;
    margin-top: 90px
}
