.icon-boton-pr{
    padding-left: 12px;
    width: 75px;
    height: fit-content;
}
.icon-boton-se{
    padding-left: 12px;
    width: 75px;
    height: fit-content;
}

//

.icon-d-footer{
    width: 40px;
    margin-right: 12px;
    height: fit-content;
}

//

.icon-titel{
    width: 95px;
    height: 95px;
    margin: 24px;
}
 .icon-titel:hover{
    animation: rotate-icon 1s infinite;
    transform-origin: center;
    }
        @keyframes rotate-icon {
        from { transform: none; }
        30% { transform: rotate(15deg); }
        70% { transform: rotate(-15deg); }
        to { transform: none; }
    }

    .icon-background{
        background: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
    }

.icon-header-ml{
    width: 75px;
    margin: 0;
    margin-right: 24px;
}

//

.icon-input{
    width: 30px;
    height: 30px;
}

.icon-input-filldata{
    width: 30px;
    height: 30px;
}

//

.icon-blog{
    width: 60px;
    height: 60px;
    animation: arriba 0.5s 1;
    transform-origin: center;
}
    @keyframes arriba {
        from {
            transform: rotate(180deg);
        }

        to {
            transform: rotate(0deg);
        }
    }

    .up{
        transform: rotateX(180deg);
        animation: abajo 0.5s 1;
        transform-origin: center;
        }
        
        @keyframes abajo {
            from {
                transform: rotate(0deg);
            }
        
            to {
                transform: rotate(180deg);
            }
        }
    
    .icon-card-blog{
        width: 40px;
        height: 40px;
    }

    .icon-card-blog:hover {
        animation: boton 1s 1;
        transform-origin: center;
    }
    
    @keyframes boton {
        from {
            transform: none;
        }
    
        50% {
            transform: scale(1.5);
        }
    
        to {
            transform: none;
        }
    }

.linea{
    margin-top: 30px;
    margin-bottom: 30px;
}

//USER//
.user-page {
    width: 120px;
    margin-bottom: 54px;
}

.circulo{
    height: 192px;
    width: 192px;
    border-radius: 50%;
    border: 6px solid $green-dark;
    position: absolute;
    top: 185px;
    left: 295px;
}