//MASTER//
.footer-master{
    display: flex;
    flex-direction: column;
    margin-left: 270px;
    padding-top: 24px;
}

    .secciones-footer{
        display: flex;
        flex-direction: row;
        height: fit-content;
        justify-content: space-between;
    }

        .seccion-footer{
            margin-right: 54px;
        }


    .secciones-dos-footer{
        display: flex;
        align-items: end;

    }

        .direccion-d-footer{
            margin-left: 50px;
        }

    .icon-text-footer{
        display: flex;
        align-items: center;
        margin-right: 36px;
    }

    .redes-footer{
            display: flex;
        }

//PRODUCT PAGE//
.footer-pproduct{
    background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
    margin-top: 90px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.footer-pproduct-enlaces{
    display: flex;
    margin-top: 30px;
}

.secciones-footer-pproduct{
        display: flex;
        flex-direction: row;
        height: fit-content;
        justify-content: space-around;
        align-self: center;
    }

.icon-text-footer-tiny{
        display: flex;
        align-items: center;
        margin-right: 24px;
        margin: 12px;
    }
    .icon-text-footer-tiny:hover{
    animation: rrss 1.5s 1;
	transform-origin: center;
    }
        @keyframes rrss {
        from { transform: none; }
        50% { transform: scale(1.5); }
        to { transform: none; }
    }

.direccion-footer{
    margin-left: 78px;
}