.info-welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

    .ctas-welcome{
        display: flex;
        justify-content: space-between;
        width: 1000px;
        margin-bottom: 48px;
        margin-top: 42px;
    }