//MASTER//
.cuerpo-ml{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//COMMUNITY//
.cuerpo-commun{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.recambios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 84px;
}
