* {
    font-size: 100%;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    background-color: $white;
    overflow-x: hidden;
}

.degradado{
        background-color: $green-dark;
        z-index: -2;
        width: 75px;
        height: 350px;
        border-radius: 250px;
        position: absolute;
        filter: blur(70px);
        animation: latidos 8s infinite;
	    transform-origin: center;
    }
        @keyframes latidos {
        from { transform: none; }
        40% { transform: scale(4); }
        to { transform: none; }
    }

        @keyframes latidos-mini {
        from { transform: none; }
        40% { transform: scale(2.5); }
        to { transform: none; }
    }
        .izq{
            top: 1000px;
            left: 5px;
        }
        .izq-little{
            top: 350px;
            left: 5px;
            animation: latidos-mini 8s infinite;
	        transform-origin: center;
        }

        .izq-maxlittle{
            top: 200px;
            left: 5px;
            animation: latidos-mini 8s infinite;
	        transform-origin: center;
        }
    
        .drc{
            right: 5px;
            top: 2000px;
        }
        .drc-medium{
            right: 5px;
            top: 1800px;
        }
        .drc-little{
            right: 5px;
            top: 1490px;
        }
        .drc-extralittle{
            right: 1px;
            top: 430px;
        }
        .drc-maxilittle{
            right: 5px;
            top: 200px;
            animation: latidos-mini 8s infinite;
	        transform-origin: center;
        }
