* {
    font-size: 100%;
    box-sizing: border-box;
}

body{
    margin: 0px;
    overflow-x: hidden;
    background-color: $white;
}

.degradado{
        background-color: $green-dark;
        z-index: -1;
        width: 75px;
        height: 350px;
        border-radius: 250px;
        position: absolute;
        filter: blur(70px);
        animation: latidos 8s infinite;
	    transform-origin: center;
    }
        @keyframes latidos {
        from { transform: none; }
        40% { transform: scale(4); }
        to { transform: none; }
    }

        .izq{
            top: 1350px;
        }
        .drc{
            right: 50px;
            top: 2500px;
        }
        .drc-medium{
            right: 50px;
            top: 2000px;
        }
        .drc-little{
            right: 50px;
            top: 1790px;
        }
        .drc-extralittle{
            right: 50px;
            top: 630px;
        }
