.presentacion{
    display: flex;
    padding-left: 54px;
    justify-content: space-between;
}

    .info-prese{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 142px;
    }

.info-porque{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
    margin-bottom: 152px;
}
    .porque{
        display: flex;
        justify-content: center;
        margin: 42px;
    }

        .why{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .razones{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            .razon{
                display: flex;
            }
    
    .ctas{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    