//Titles//
$title: 'Port Lligat Sans', sans-serif;

    //Sizes//
    $h1: 66px;
    $h2: 54px;
    $h3: 42px;
    $h4: 30px;
    $h5: 24px;

//Text//
$text: 'El Messiri', sans-serif;

    //Sizes//
    $p-title: 42px;
    $p-big: 30px;
    $p-medium: 24px;
    $p-little: 18px;
    $p-extralittle: 16px;

    //Weight//
    $bold: 700;
    $regular: 400;