//TEXT CARD//
.cuadro-border{
    padding: 6px;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    z-index: 0;
    background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 18px;
    margin-top: 12px;
}
.cuadro-border-direccion{
    padding: 6px;
    margin-bottom: 24px;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    z-index: 0;
    background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
}

.cuadro-border-tarjet{
    visibility: hidden;
    padding: 6px;
    margin-bottom: 30px;
    margin-top: 6px;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    z-index: 0;
    background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
}

.cuadro-border-ml{
    padding: 6px;
    margin-bottom: 60px;
    margin-top: 30px;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    z-index: 0;
    background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
}
    .chat{
        margin-bottom: 60px;
    }

    .comm{
        display: flex;
    }

.cuadro{
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 0;
    border: 0;
    border-radius: 9px;
    background-color: $beige;
    padding: 24px;
}

.cuadro-filldata{
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 0;
    border: 0;
    border-radius: 9px;
    background-color: $beige;
    padding: 36px;
}

.ml-master{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ml-community {
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding: 24px;
}

//INPUT CARD//

.inputs-register{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 0;
    border-radius: 9px;
    background-color: $beige;
    padding: 36px;
    justify-content: center;
    align-items: center;
}

.inputs-filldata-card{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 0;
    border-radius: 9px;
    background-color: $beige;
    padding: 54px;
    justify-content: center;
    align-items: center;
}

//INFO Card//

.cuadro-info{
    width: fit-content;
    height: fit-content;
    padding: 0;
    border: 0;
    border-radius: 9px;
    background-color: $yellow-light;
    padding: 18px;
}

//DESPLEGABLE CARD//
.cuadro-desplegable {
    width: 1250px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(29, 40, 36, 0.25);
    padding: 30px;
    margin-bottom: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $beige;
}

.primero{
    margin-top: 36px;
}

.cuadro-desplegable-detras{
    z-index: -1;
    background-color: $beige;
    width: 1250px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(29, 40, 36, 0.25);
    padding: 24px;
    margin-bottom: 36px;
    position: relative;
    top: -84px;
    height: fit-content;
    display: none;
}
    .cuadro-desplegable-detras-strcture{
        background-color: $beige;
        width: 1250px;
        border-radius: 6px;
        box-shadow: 2px 2px 2px rgba(29, 40, 36, 0.25);
        padding: 24px;
        margin-bottom: 36px;
        position: relative;
        top: -84px;
        height: fit-content;
        display: none;
    }

//ENTRADA AL BLOG CARD//

.card-blog{
    width: fit-content;
    background-image: linear-gradient(180deg, #83BD79 0%, #155B2B 100%);
    border-radius: 12px;
    padding: 18px;
    margin-bottom: 12px;
    margin-top: 24px;
}

